{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "useTabs": true,
  "tabWidth": 2,
  "plugins": ["./node_modules/prettier-plugin-organize-imports/index.js"]
}
